body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
}

.section.blue {
  background-color: #3171F0; 
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  animation: fade-in 2s ease-in-out forwards;
}

.subtitle {
  margin-top: 10px;
  animation: fade-in 3s ease-in-out forwards;
}

.scroll-message {
  margin-top: 20px;
  font-size: 1.2rem;
  animation: fade-in 5s ease-in-out forwards;
}

.section.white {
  background-color: white;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -20px; 
  z-index: 0;
}

.main-message {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fade-in 1s ease-in-out forwards;
}

.sub-message {
  font-size: 1.2rem;
  margin-top: 10px;
  animation: fade-in 3s ease-in-out forwards;
}

.section.turquoise {
  background-color: #70C1B3; 
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -10px;
}

.workflow {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-size: 1.5rem;
  margin-top: 20px;
}

.file-upload {
  margin-top: 30px;
  border: 2px dashed #fff;
  padding: 20px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.arrow {
  position: relative;
  margin-top: 50px;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  animation: arrowAnimation 1s infinite;
}
.asl-hand{
  width: 300px;
  height: 300px;
  position: absolute; 
  bottom: 0; 
  right: 0; 
}

@keyframes arrowAnimation {
  0% {
    transform: rotate(45deg) translateY(0);
  }
  50% {
    transform: rotate(45deg) translateY(10px);
  }
  100% {
    transform: rotate(45deg) translateY(0);
}
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.minimal-button {
  background-color: transparent;
  border: 2px solid #3171F0;
  color: #3171F0;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.minimal-button:hover {
  background-color: #3171F0;
  color: white;
}

.minimal-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(49, 113, 240, 0.5);
}

.minimal-button:active {
  background-color: #255ab2;
  border-color: #255ab2;
}

.workflow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-size: 1.5rem;
  position: relative;
}

.arrow-right {
  width: 50px;
  height: 2px;
  background-color: black;
  position: relative;
  margin: 0 20px;
}

.arrow-right::before {
  content: '';
  position: absolute;
  top: -4px;
  right: -10px;
  border-left: 10px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.goku{
  position: absolute;
  top: 100px;
  left: 150px;
  width: 300px;
  border-radius: 15%;
}

.asl-demonstration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.asl-demo {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.asl-sentence-input {
  width: 80%;
  max-width: 400px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}